@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for the character list and cards */
.character-list {
  @apply flex flex-wrap justify-center;
}

.character {
  @apply border border-gray-300 rounded-lg m-4 w-full sm:w-80 text-center; /* Adjust width for mobile */
}

.character img {
  @apply w-full rounded-t-lg;
}

/* Light and dark theme variables */
:root.theme-light {
  color-scheme: light;
  --theme-primary: #212129;
  --theme-secondary: #fefefe;
  --theme-border: #edeaea;
}

:root {
  color-scheme: dark;
  --theme-primary: #fefefe;
  --theme-secondary: #212129;
  --theme-border: #31313e;
}

/* Custom select styles */


/* Body styles */
body {
  background-color: black;
  font-size: 0.9vw;
}

/* Container styles */
.container {
  position: relative;
  text-align: center;
  height: 100px; /* Adjust this value to control the space above the content */
  margin-top: 40px;
}

/* Title styles */
.title {
  position: absolute;
  bottom: 0.8em;
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: 2em; /* Adjusted for mobile */
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.title span {
  font-size: 0.5em;
}

.title.middle {
  -webkit-text-stroke: 0.1em #FFF765;
  z-index: 49;
}

.title.bottom {
  -webkit-text-stroke: 0.4em black;
  z-index: 48;
}

/* Font face */
@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

/* Media queries for responsive design */
@media (max-width: 640px) {
  .title {
    font-size: 8.5em; /* Adjusted for mobile */
  }
  .character {
    width: 100%; /* Full width for mobile */
  }
  form-el{
    width: 100%;
    font-size: xx-large;
  
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 5em; /* Adjusted for larger screens */
  }

  .character {
    width: 100%; /* Adjusted for larger screens */
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4em; /* Adjusted for larger screens */
  }

  .character {
    width: 350px; /* Adjusted for larger screens */
  }
}

.bg-morty{
  background-color: #FEF765;
}

.text-rick{
  color: #08BAE3;
}

.bg-rick{
  background-color: #08BAE3;
}

.bg-summer{
  background-color: #FF3333;
}

.bg-beth{
  background-color: #FF6633;
}